/*
author:abhimanyu kc,bipin baral,saunak shrestha,rabindra adhikari;
version:1.0;
*/
/* css for all ,*sign is used to remove default marging,padding*/
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto; /*0 for top bottom space margin, auto for left right bottom space margin, margin for outside border */
   /* padding:5%;applied inside border,here 5% use for all side space*/
   padding: 1%;
}
.img-responsive{ /* img should contain inside container */
    width:100%;
}
.text-right{
    text-align: right;
}
.imagefix{
    clear: both; /*set logo inside navbar section*/
    float:none; 
}
/* css for nav bar */
.logo{
    width: 10%;
    float: left;/*menus goes to the top */
}
a{
    color: #3742fa;
    text-decoration: none;
}
a:hover{ /*pseudoclass;select state of particular html element,color change after pointing cursor */
color: rgb(48, 17, 121);
}
.menu{
    line-height: 40px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding:1%;
    font-weight:bold;
}
/*css for food search section */
.food-search{
    background-image: url(../images/ab.jpg);
    background-size: cover;
    background-repeat: no-repeat;/*for not auto repeat of smaller image */
    padding: 7% 0;
    background-position: center;
}
.food-search  input[type="search"]{  /*targeting only input field */
    width:80%;
    padding:1%;
    font-size: 1rem;
    border:none;
    cursor:pointer;

}
.btn{
    padding:1%;
    font-size: 13px;
}
.btn-primary{
    background-color: rgb(65, 81, 153);
    color:white;
}
.btn-primary:hover{
    background-color:brown;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
.text-center{
    text-align: center;
}
/*css for categories */
.categories{
    padding: 4% 0;
}
.box-1{
    width:28.5%;
    float:left;
    margin:2%;
}
.clearfix{
    float:none;
    clear:both;
}
.float-container{
    position:relative;

}
.float-text{
    position: absolute;
    bottom:15px;
    left:40%
}
.text-white{
    color:white;
}
h3{
    font-size: 1.5rem;
}
.img-curve{
    border-radius: 10px;
    padding: 4% 0;
}
/* css for food menu */
.food-menu{
    background-color: #ececec;
}
.food-menu-box{
    width:43%;
    margin: 1%;
    padding: 2%;
    float:left;
background-color: white;
border-radius: 15px;
}
.food-menu-img{
    width:40%;
    float:left;
}
.food-menu-desc{
    width:50%;
    float: left;
    margin-left: 8%;
}
.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}
/*css for social media */
.social-media{
    list-style-type: none;
}
.social-media ul li{
    display: inline;
    padding:1%;
}
/* css for mobile size or smaller screen */

@media only screen and (max-width:768px)/*for devices smaller than 768px */
{
    .logo{
        width: 80%;
        float:none;
        margin:1% auto;
    }
    .menu ul{
        text-align: center;/*this will be apply only if screen size is smaller than 768px */
    }
    .food-search  input[type="search"]{
        width:78%;
        margin: 1%;
        padding: 2%;
        
    }
    .categories{
        padding: 10% 0;
    }
    .box-1{
        width: 95%;
        margin: 2% auto;
    }
    h2{
        margin-top:  10%;
    }
    .food-menu{
        padding:20% 0;
    }
    .food-menu-box{
        width: 90%;
        padding:6%;
        margin-bottom: 5%;
    }


}